/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* global */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: #000000;
}
body {
  overflow: hidden;
  position: relative;
}
@media (max-width: 767.98px) {
  body {
    padding-top: 60px;
  }
}
html {
  overflow: auto;
  overflow-x: hidden;
} /* ie7+ */

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

img {
  max-width: 100%;
}
.img-fit {
  width: 100%;
}

.text-white {
  color: #FFFFFF;
}
.text-grey {
  color: #888888;
}
.text-blue {
  color: #0766ae;
}
.text-red {
  color: #c23636;
}
.text-green {
  color: #537b20;
}

.text-bold {
  font-weight: bold;
}

.align-center {
  text-align: center;
}
.align-center * {
  margin: 0 auto;
}

.stick {
  display: inline-block;
}

.m-0 {
  margin: 0;
}

.font-style-1 {
  font-size: 3rem;
}
@media (max-width: 767.98px) {
  .font-style-1 {
    font-size: 2rem;
  }
}

/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* list of project */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
.container {
  width: 900px;
  margin: 0 auto;
}
.wrap-main-title {
  background: #f6f9f3;
  border-bottom: solid 2px #dcdcdc;
}
.main-title {
  padding: 2rem 0;
}
.highlight {
  margin: 0;
  padding: 2rem 0;
}
@media (max-width: 900px) {
  .container {
    padding: 0 1rem;
    width: auto;
  }
}
@media (max-width: 767.98px) {
  .main-title {
    text-align: center;
    padding: 1.5rem 0;
  }
  .highlight {
    padding: 1.5rem 0;
  }
}

/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* .header-bar */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
.wrap-header-bar {
  background: #263238;
}
.header-bar {
  display: flex;
  justify-content: space-between;

  height: 85px;
}
.header-bar .logo {
  width: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header-bar .logo img {
  display: block;
}
.header-bar .greeting {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: right;
}
@media (max-width: 767.98px) {
  .wrap-header-bar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
  }
  .header-bar {
    height: 60px;
  }
  .header-bar .logo {
    width: 40px;
  }
}

/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* .item-list */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
.wrap-list-item {
  margin: -1rem -1rem 1rem -1rem;
}
.list-item {
  display: flex;
  flex-wrap: wrap;
}
.list-item a {
  text-decoration: none;
}
.list-item li {
  list-style-type: none;
  flex: 0 0 50%;
  padding: 1rem;
}
.list-item .item {
  padding: 1rem;
  background: #e7e7e7;
  border-radius: 5px;

  display: flex;
}
.list-item .item-thumb {
  flex: 0 0 16%;
}
.list-item .item-desc {
  flex: 0 0 82%;
  padding: 0 0 0 1rem;
}
.list-item .five {
  background: yellow;
  display: inline-block;
  border-radius: 15px;
  width: 21px;
  height: 21px;
  text-align: center;
}
@media (max-width: 767.98px) {
  .wrap-list-item {
    margin: -.5rem 0 .5rem 0;
  }
  .list-item li {
    flex: 0 0 100%;
    padding: .5rem 0;
  }
  .list-item .item-thumb {
    flex: 0 0 65px;
  }
  .list-item .item-desc {
    flex: 0 1 auto;
  }
}
